.DropDown {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    z-index: 3;
    border-radius: 13px;
  }
  .DropDown div {
    padding: 0.5px 2px;
    font-size: 13px;
    color: #494848;
    border-radius: 12px;
    cursor: pointer
  }
  